[package]
name = "nearcard-sbt"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
near-sdk = "5.6"

[dev-dependencies]
near-sdk = { version = "5.6", features = ["unit-testing"] }
